@import url('https://fonts.googleapis.com/css?family=Russo+One');
:root {/*#141318*/
  --main-bg-color: #141318;
  --main-sub-color: #12627D;
  --main-grey-color: #FEFEFE;
  --block-color: #999;
}
body {
  font-family: Calibri, Arial, sans-serif;
  color: #47525D;
  background-color: #FEFEFE;
  box-sizing: border-box;
  font-size: 18px;
}
#header_nav_burger{
  display: none;
  font-size: 25px;
  margin-top: 20px;
}
.header{
  padding: 0 20px;
  z-index: 100;
  position: relative;
  border-bottom: 1px solid #FEFEFE;
  background-color: var(--main-bg-color);
}
.header_logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  margin-top: -15px;
  margin-right: 10px;
}
.header_logo_img{
  background-image: url("../images/nfzm.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  filter: invert(100%);
  margin: 0 auto;
  height: 65px;
}
.header_logo_text{
  font-size: 25px;
  letter-spacing: 1px;
  font-family: 'Russo One', sans-serif;
}
.header_logo_a{
  color: #FEFEFE;
  text-decoration: none;
}
.header_center{
  max-width: 1100px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  color: #FEFEFE;
  padding: 30px 0 10px 0;
  z-index: 100;
}
.header_logo{
  font-size: 24px;
  z-index: 100;
}
.header_list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  z-index: 100;
}
.header_center_right{
  display: flex;
  flex-direction: column;
}
.header_center_right_top {
  margin-bottom: 20px;
  z-index: 100;
}
.header_center_right_bottom {
  z-index: 100;
  display: flex;
  letter-spacing: 2px;
}
.header_center_phone{
  font-size: 18px;
  margin: 0 20px 0 10px;
}
.header_center_mail{
  font-size: 20px;
  margin-top: -2px
}
.header_nav_link{
  color: #FEFEFE;
  font-weight: bold;
  padding: 10px;
  z-index: 100;
  transition: 0.2s;
  display: block;
}
.header_nav_link:hover{
  color: var(--main-sub-color);
  transition: 0.2s;
}
.slider-wrapper{
  top: -200px; right: 0; bottom: 0; left: 0;
  background-image: url("../images/kar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.text-header{
  font-size: 28px;
  color: #47525D;
  font-weight: normal;
  text-align: center;
  display: block;
}
/*
.slider:before {
  position: absolute;
  content: '';
  top: -200px; right: 0; bottom: 0; left: 0;
  background-image: url("../images/kar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*filter: opacity(30%) grayscale(30%) contrast(200%);*/

.slider_slide_inside{
  padding: 90px 20px 60px 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  color: #FEFEFE;
}
.slider_left {
  max-width: 800px;
}
.slide_inside_header{
  font-size: 95px;
  margin-bottom: 0;
}
.slider_table{
  display: flex;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  max-width: 600px;
}
.slider_table_td{
  margin: 0;
  padding: 10px;
  border: 1px solid #FEFEFE;
  flex-grow: 1;
  text-align: center;
}
.slider_table_link{
  color: #FEFEFE;
  font-size: 16px;
  transition: 0.2s;
}
.slider_table_link:hover{
  color: var(--main-sub-color);
  transition: 0.2s;
}
.slide_inside_description {
  max-width: 500px;
  font-size: 17px;
  display: block;
  margin-bottom: 20px;
}
.arrows{
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: -100px auto 0 auto;
  padding: 0 50px;
}
.arrow-left{
  width: 0;
  height: 0;
  margin: 30px 0;
  border: 30px solid;
  border-color: transparent #FEFEFE transparent #FEFEFE;
  border-left: 0;
  cursor: pointer;
  z-index: 100;
  transition: 0.2s;
}
.arrow-left:hover{
  border-color: transparent var(--main-sub-color) transparent var(--main-sub-color);
  transition: 0.2s;
}
.arrow-right{
  width: 0;
  height: 0;
  margin: 30px 0;
  border: 30px solid;
  border-color: transparent #FEFEFE transparent #FEFEFE;
  border-right: 0;
  cursor: pointer;
  z-index: 100;
  transition: 0.2s;
}
.arrow-right:hover{
  border-color: transparent var(--main-sub-color) transparent var(--main-sub-color);
  transition: 0.2s;
}
.slider_dots{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.slider-nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 20px 0 20px 0;
}
.slider-nav_elem{
  width: auto;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  color: var(--block-color);
}
.slider-nav_text{
  text-transform: uppercase;
  text-align:center;
  font-weight: bold;
  text-decoration: underline;
  font-size: 15px;
  max-width: 180px;
  color: #444;
}
.slider-nav_img{
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
.slider-nav_img i{
  font-size: 60px;
}
.slider-nav_elem1.slider-nav_elem1:hover,.slider-nav_elem1.slider-nav_elem__active{
  color: var(--main-sub-color);
  transition: .2s;
}
.slider-nav_elem2.slider-nav_elem2:hover,.slider-nav_elem2.slider-nav_elem__active{
  color: var(--main-sub-color);
  transition: .2s;
}
.slider-nav_elem3.slider-nav_elem3:hover,.slider-nav_elem3.slider-nav_elem__active{
  color: var(--main-sub-color);
  transition: .2s;
}
.slider-nav_elem4.slider-nav_elem:hover, .slider-nav_elem4.slider-nav_elem__active{
  color: var(--main-sub-color);
  transition: .2s;
}
/*

.slider2_slide_a{
  text-decoration: none;
  color: #FEFEFE;
}
.slider2-wrapper{
  background-image: url("../images/news.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.slider2_elem{
  margin: 0 10%;
  height: 300px;
}
*/
/*experimental for slider2 /////////////////*/
.slider2-wrapper{
  padding-bottom: 50px;
  /*background: linear-gradient(180deg, #B8D3E6, #B8D3E6);*/

}
.slider2_header{
  padding: 10px 0 10px 0;
}
.slider2_slide_a{
  text-decoration: none;
  color: #FEFEFE;
}
.slider2{
  /*display: flex;
  flex-wrap: wrap;*/
  background-color: var(--main-bg-color);
  margin: auto;
}
.slider2_slide{
  flex-grow: 1;
  /*width: 250px;*/
  overflow: hidden;
}
.slider2_desc::before{
  content: "";
  background-color: #0071E0;
  width: 50px;
  height: 5px;
  display: block;
  margin: 0 0 10px 0;
}
.slider2_desc{
  text-transform: uppercase;
  height: 55px;
  padding: 5px 0 10px 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(0,0,0,.5);
}
/*experimental for slider2 /////////////////*/
.slider2_img{
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.15s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.slider2_slide1_img{
  background-image: url("../images/iman/lap.png");
}
.slider2_slide2_img{
  background-image: url("../images/iman/ferma.png");
}
.slider2_slide3_img{
  background-image: url("../images/iman/forma.png");
}
.slider2_slide4_img{
  background-image: url("../images/iman/trav.png");
}
.slider2_slide5_img{
  background-image: url("../images/iman/ograg.png");
}
.slider2_slide6_img{
  background-image: url("../images/iman/b80.png");
}
.slider2_slide7_img{
  background-image: url("../images/iman/armkarkas.png");
}
.slider2_slide8_img{
  background-image: url("../images/iman/lesmar.jpeg");
}
.slider2_slide9_img{
  background-image: url("../images/iman/talrep.png");
}
.slider2_slide10_img{
  background-image: url("../images/iman/ramki.png");
}
.slider2_slide11_img{
  background-image: url("../images/iman/zaklad.png");
}

.slider2_arrows{
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 50px;
}
.slider2_arrow-left{
  width: 0;
  height: 0;
  margin: 30px 0;
  border: 30px solid;
  border-color: transparent #4682B4 transparent #4682B4;
  border-left: 0;
  cursor: pointer;
  z-index: 100;
}
.slider2_arrow-right{
  width: 0;
  height: 0;
  margin: 30px 0;
  border: 30px solid;
  border-color: transparent #4682B4 transparent #4682B4;
  border-right: 0;
  cursor: pointer;
  z-index: 100;
}
.news-block-wrapper{
  background-color: #F5F3F4;
  /*background-image: url("../images/news.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.news-block-wrapper_header{
  padding: 10px 0 10px 0;
}
.news-block{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 50px;
  max-width: 1100px;
  margin: 0 auto;
}
/*
.news-block_show-all {
  cursor: pointer;
  margin: auto;
  padding: 10px 50px;
  color: #000;
  text-align: center;
  border: 3px solid #000;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  transition: .2s;
}
.news-block_show-all:hover{
  color: #000;
  border-color: #000;
  transition: .2s;
}

*/
.news-block_elem{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 15px;
  color: #47525D;
  background-color: rgba(51, 152, 234, .05);
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
.news-block_elem_h{
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0 5px 0;
}
.news-block_elem_date{
  font-size: 12px;
  color: rgba(71, 82, 93, .8);
  margin-bottom: 5px;
}
.news-block_elem_descripton{
  color: rgba(71, 82, 93, .9);
}
.news-block_elem_photo{
  height: 160px;
  background-image: url("../images/industry.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.news-block_elem_photo2{
  background-image: url("../images/news2.jpg");
  background-position: top;
}
.news-block_elem_photo3{
  background-image: url("../images/news3.jpg");
}
.our-services{
  /*background: linear-gradient(180deg, #B8D3E6, #B8D3E6);*/
  padding: 30px 0 50px 0;
  /*background-image: url(../images/our-service.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;*/
}
.our-services_header{
  margin-bottom: 40px;
}
.our-services_block{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}
.our-services_service{
  width: 315px;
  color: #47525D;
  background-color: #FEFEFE;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.our-services_h{
  background-color: #F5F3F4;
  padding: 20px 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.our-services_service_description{
  padding: 15px;
  font-size: 18px;
}
.our-services_button{
  padding: 10px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #3398EA;
  color: #3398EA;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 10px 20px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: .2s;
}
.our-services_button:hover{
  background-color: rgba(51, 152, 234, .1);
}
/*
.our-services_service_img_1{
   background-image: url(../images/rels.png); 
}
.our-services_service_img_3{
   background-image: url(../images/list.png); 
}
*/

.our-advantages{
  padding: 50px 0;
  background-color: #FEFEFE;
  
}
.our-advantages_wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1100px;
  margin: 0 auto;
}
.our-advantages_block{
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 50px;
}
.our-advantages_block_img{
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: cover;
  margin: 0 auto 20px auto;
}
.our-advantages_block_img_1{
  background-image: url(../images/icons/019-power-press.png);
}
.our-advantages_block_img_2{
  background-image: url(../images/icons/006-truck.png);
}
.our-advantages_block_img_3{
  background-image: url(../images/icons/026-mechanism.png);
}
.our-advantages_block_img_4{
  background-image: url(../images/icons/037-forklift.png);
}
.our-advantages_block_img_5{
  background-image: url(../images/icons/020-planning.png);
}
.our-advantages_block_img_6{
  background-image: url(../images/icons/005-valve.png);
}
.our-advantages_block_img_7{
  background-image: url(../images/icons/049-container.png);
}
.our-advantages_block_img_8{
  background-image: url(../images/icons/009-storage.png);
}
.our-advantages_block_img_9{
  background-image: url(../images/icons/030-management.png);
}
.our-advantages_block_description{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 1000;
  text-align: center;
}
.our-partners_header{
}
.our-partners{
  padding: 50px 0 0 0;
  background-color: #FEFEFE;
}
.our-partners_wrapper{
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 70px 0;
}
.our-partners_partner-logo{
  width: 150px;
  height: 75px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.our-partners_partner-logo_1{
  background-image: url("../images/antyapi.png");
}
.our-partners_partner-logo_2{
  background-image: url("../images/trans.png");
}
.our-partners_partner-logo_3{
  background-image: url("../images/rosseti.png");
}
.our-partners_partner-logo_4{
  background-image: url("../images/su155.png");
  background-size: 120px 95px;
}
.undo-footer{
  background-color: var(--main-bg-color);
  color: #FEFEFE;
  padding: 30px 10px;
}
.undo-footer_wrapper{
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.undo-footer_right{
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
.undo-footer_right_h{
  font-size: 16px;
  text-transform: uppercase;
}
.undo-footer_right_block{
  display: block;
  margin-bottom: 10px;
}
.undo-footer_right_a{
  color: var(--main-sub-color);
  text-transform: uppercase;
  font-size: 16px;
}
.undo-footer_p{
  max-width: 850px;
  font-size: 15px;
}
.undo-footer_h{
  font-size: 16px;
  text-transform: uppercase;
}
.footer{
  background-color: var(--main-bg-color);
  color: #FEFEFE;
  padding: 20px 10px;
  border-top: 1px solid #033752;
}
.footer_left{
  font-size: 13px;
  vertical-align: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer_left_text{
  display: block;
}
.footer_wrapper{
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.footer_right{
  display: flex;
}
.footer_right_contacts{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.footer_right_contacts_text{
  display: block;
  margin-bottom: 10px;
}
.footer_right_contacts_phone{
  font-size: 18px;
  font-weight: bold;
}
.footer_right_contacts_adress{
  font-size: 13px;
  text-transform: uppercase;
}
.footer_right_contacts_email{
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 0;
  color: var(--main-sub-color);
}
.footer_right_social{
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}
.footer_right_social_block{
  width: 22px;
  height: 22px;
  margin: 0 10px;
}
.footer_right_social_block__vk{
  display: block;
  background-image: url("../images/vk-32.png");
  filter: invert(100%);
  background-size: cover;
  background-position: center;
}

/*product-page*/
.product-page-wrapper{
  background-color: #FEFEFE;
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
  max-width: 1100px;
  margin: auto;

}
.product-page{
  max-width: 780px;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.product-page_h{
  font-size: 30px;
  max-width: 780px;
  margin: 0 0 10px 0;
}
.product-page_image{
  float: right;
  margin-left: 20px;
  max-width: 300px;
}
.product-page_description{
  max-width: 780px;
}
.product-page_description_photo{
  float: left;
  margin: 0 20px 20px 0;
  max-width: 300px;
}
.product-navigation{
  max-width: 300px;
  margin-right: 15px;
}
.product-navigation_list{
  padding: 10px;
  background-color: #F9F9F9;
  border: 1px solid rgba(153, 153, 153, .3);
}
.product-navigation_h{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #F9AC5B;
  padding: 10px;
}
.product-navigation_elem{
  list-style-type: none;
  margin-bottom: 5px;
}
.product-navigation_elem:first-letter{
  text-transform:uppercase;
}
.product-navigation_elem a{
  color: #000;
  transition: .1s;
}
.product-navigation_elem a:hover{
  color: #F9AC5B;
  transition: .1s;
}
/*mobile*/
@media screen and (max-width: 1100px) {
  .our-services_block{
    /*
    flex-direction: column;
    align-items: center;
    */
  }
  
  .our-services_service{
    margin: 5px;
    width: 20%;
    min-width: 150px;
  }
  .header_logo{
    margin-right: 10px;
  }
  .header_logo_img{
    width: 100%;
    height: 55px;
    background-size: cover;
  }
  .header_logo_text{
    font-size: 15px;
  }
  .header_list{
    flex-wrap: wrap;
  }
  .header_center_right_bottom{
    flex-wrap: wrap;
  }
  .our-services_service_description{
    font-size: 18px;
  }
}
@media screen and (max-width: 955px) {
  .slide_inside_header{
    font-size: 45px;
    margin: 10px 0 10px 0;
  }
  .slider_table_td{
    padding: 5px;
  }
  .slider_table_link{
    font-size: 1em;
  }
  .slider_left{
    max-width: 500px;
  }
  .slider_table{
    max-width: 500px;
  }
  .our-services_service{
    flex-direction: column;
  }
  .our-services_service_description{
    font-size: 16px;
  }
}
@media screen and (max-width: 765px) {
  .our-advantages_block{
    padding: 10px;
  }
  .text-header{
    font-size: 34px;
  }
  .our-advantages_block_description{
    font-size: .5em;
  }
  .our-advantages_block_img{
    width: 60px;
    height: 60px;
    margin: 0 auto 10px auto;
  }
  .news-block{
    flex-direction: column;
    align-items: center;
  }
  .news-block_elem {
    width: 95%;
  }
  .news-block_elem_descripton{
    font-size: 16px;
  }
  .news-block_elem_fulldescripton{
    font-size: 14px;
  }
  .our-services_service_img{
    width: 30%;
    height: 50px;
  }
  .our-services_service_description{
    font-size: 14px;
  }
  .slider_left{
    margin: auto;
  }
  .slider-wrapper{
    background-position: center;
  }
}
@media screen and (max-width: 665px) {
  .our-services_service_description{
    font-size: 14px;
  }
  .our-services_service{
    min-width: 100px;
  }
  .header_center_right_bottom{
    margin-top: 20px;
  }
  .header_center_right{
    flex-direction: column-reverse;
  }/*
  .header_center{
    align-items: flex-start;
  }*/
  .header_list{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -90px;
    margin-top: 20px;
  }
  .header_list__visible{
    display: block;
  }
  .header_nav_link{
    font-size: 14px;
  }
  .header_center_phone{
    margin: 0 5px 0 0;
  }
  .slider-nav{
    display: none;
  }
  .arrows{
    display: none;
  }
  .our-partners{
    /*flex-direction: column;
    align-items: center;*/
    display: none;
  }
  #header_nav_burger{
    display: inline-block;
  }
}
@media screen and (max-width: 505px) {
  
  .header_center_right_bottom{
    flex-direction: column;
    margin-top: 5px;
  }
  .header_center_phone{
    margin: 0 0 10px 0;
  }
  .header_center_right_bottom{
    /* margin-top: -10px;*/
  }
  .slider_left{
    max-width: 300px;
  }
  .slider_table{
    max-width: 300px;
  }
  .slide_inside_header{
    font-size: 30px;
  }
  .footer_left_text{
    display: none;
  }
  .undo-footer_wrapper{
    flex-direction: column;
  }
  .slider2_slide{
    width: 150px;
    height: 150px;
  }
}

/*gallery*/
.gallery-wrapper{
  padding: 50px 0 50px 0;
  background-color: #FAFAFA;
}
.gallery{
  width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.gallery-elem{
  display: flex;
  margin-bottom: 35px;
}
.gallery-elem_description{
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.gallery-elem_h{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.gallery-elem_photo{
  margin-right: 15px;
  width: 260px;
  overflow: hidden;
}
.gallery-elem_img{
  width: 260px;
}
.gallery-elem_photo__active{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.9);
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-elem_photo__active .gallery-elem_img{
  width: auto;
  height: 90%;
}

/*calc*/
.calc_input{
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 50px;
  padding: 3px;
  text-align: center;
  margin: 0 10px 0 10px;
}
.calc{
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  padding: 30px;
  width: 500px;
  margin: auto;
}
.calc_form{
  padding-bottom: 30px;
}
.calc_workpiece{
  margin-bottom: 20px; 
}
.calc_detail-form{
  margin-bottom: 20px;
  padding: 5px;
}
.calc_button__add{
  margin-bottom: 30px;
}
.calc-page{
  margin: auto;
  width: 560px;
}
/*navigation*/
.vacancies-page-wrapper{
  background-color: #FAFAFA;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.vacancies-page{
  width: 1000px;
  margin: 0 auto;
}
.vacancies-page_h{
  font-size: 40px;
  max-width: 600px;
  margin: 0 0 10px 0;
}
.disable-mob-version{
  color: #FEFEFE;
  padding: 10px;
  z-index: 200;
}