@import url('https://fonts.googleapis.com/css?family=Russo+One');
body {
  font-family: Calibri, Arial, sans-serif;
  color: #333A3E;
}
.header{
  padding: 0 20px;
  margin-bottom: -200px;
  z-index: 100;
  position: relative;
  border-bottom: 1px solid #fff;
}
.header__without-slider{
  padding: 0 20px;
  background-color: #7BB346;
}
.header_logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  margin-top: -15px;
}
.header_logo_img{
  background-image: url("../images/nfzm.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 65px;
  filter: invert(100%);
  margin: 0 auto;
}
.header_logo_text{
  font-size: 25px;
  font-family: 'Russo One', sans-serif;
}
.header_center {
  max-width: 1300px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  color: #FFF;
  padding: 30px 0 10px 0;
  z-index: 100;
}
.header_logo{
  font-size: 24px;
  z-index: 100;
}
.header_list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  z-index: 100;
}
.header_center_right_top {
  margin-bottom: 20px;
  z-index: 100;
}
.header_center_right_bottom {
  font-size: 34px;
  letter-spacing: 2px;
  z-index: 100;
}
.header_nav_link{
  color: #FFF;
  font-weight: bold;
  padding: 10px;
  z-index: 100;
}
.slider {
  z-index: 0;
}
.slider_right_img{
  width: 600px;
  height: 600px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.slider_right_img1{
  background-image: url("../images/green.png");
}
.slider_right_img2{
  background-image: url("../images/welderstart.png");
}
.slider_right_img3{
  background-image: url("../images/welderstart.png");
}
.slider_right_img4{
  background-image: url("../images/welderstart.png");
}
.slider_slide_inside{
  padding: 200px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  color: #fff;
}
.slider_left {
  max-width: 800px;
}
.slide_inside_header{
  font-size: 95px;
  margin-bottom: 0;
}
.slider_table{
  display: flex;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  max-width: 600px;
}
.slider_table_td{
  margin: 0;
  padding: 10px;
  border: 1px solid #fff;
  flex-grow: 1;
  text-align: center;
}
.slider_table_link{
  color: #fff;
  font-size: 16px;
}
.slide_inside_description {
  max-width: 500px;
  font-size: 17px;
  display: block;
  margin-bottom: 20px;
}
.slider_slide1{
  background: linear-gradient(180deg, #665A98, #4A3E7B);
}
.slider_slide2{
  background: linear-gradient(180deg, #A94D81, #983A6F);
}
.slider_slide3{
  background: linear-gradient(180deg, #7DB547, #75AB42);
}
.slider_slide4{
  background: linear-gradient(180deg, #C4B536, #B5A627);
}
.slider_slide5{
  background: linear-gradient(180deg, #43A795, #3B8F7F);
}
.arrows{
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: -100px auto 0 auto;
  padding: 0 50px;
}
.arrow-left{
  width: 0;
  height: 0;
  margin: 30px 0;
  border: 30px solid;
  border-color: transparent #fff transparent #fff;
  border-left: 0;
  cursor: pointer;
  z-index: 100;
}
.arrow-right{
  width: 0;
  height: 0;
  margin: 30px 0;
  border: 30px solid;
  border-color: transparent #fff transparent #fff;
  border-right: 0;
  cursor: pointer;
  z-index: 100;
}
.slider_dots{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.slider-nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 20px 0 20px 0;
}
.slider-nav_elem{
  width: auto;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  color: #999;
}
.slider-nav_text{
  text-transform: uppercase;
  text-align:center;
  font-weight: bold;
  text-decoration: underline;
  font-size: 15px;
  max-width: 180px;
  color: #444;
}
.slider-nav_img{
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
.slider-nav_img i{
  font-size: 60px;
}
.slider-nav_elem1.slider-nav_elem1:hover,.slider-nav_elem1.slider-nav_elem__active{
  color: #665A98;
}
.slider-nav_elem2.slider-nav_elem2:hover,.slider-nav_elem2.slider-nav_elem__active{
  color: #A94D81;
}
.slider-nav_elem3.slider-nav_elem3:hover,.slider-nav_elem3.slider-nav_elem__active{
  color: #7DB547;
}
.slider-nav_elem4.slider-nav_elem:hover, .slider-nav_elem4.slider-nav_elem__active{
  color: #C4B536;
}
.slider2_header{
  padding: 10px 0 10px 0;
}
.slider2_header_h{
  text-align: center;
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
}
.slider2-wrapper{
  background: radial-gradient(circle, #008BDF, #005FAC);
}
.slider2_elem{
  margin: 0 10%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 300px;
  background-color: #fff;
}
.slider2_img{
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slider2_slide1_img{
  background-image: url("../images/iman/lap.png");
}
.slider2_slide2_img{
  background-image: url("../images/iman/ferma.png");
}
.slider2_slide3_img{
  background-image: url("../images/iman/forma.png");
}
.slider2_slide4_img{
  background-image: url("../images/iman/trav.png");
}
.slider2_slide5_img{
  background-image: url("../images/iman/ograg.png");
}
.slider2_slide6_img{
  background-image: url("../images/iman/b80.png");
}
.slider2_slide7_img{
  background-image: url("../images/armkarkas.png");
}
.slider2_slide8_img{
  background-image: url("../images/iman/lesmar.jpeg");
}
.slider2_slide9_img{
  background-image: url("../images/iman/talrep.png");
}
.slider2_slide10_img{
  background-image: url("../images/iman/ramki.png");
}
.slider2_slide11_img{
  background-image: url("../images/iman/zaklad.png");
}
.slider2_desc{
  text-align: center;
  padding: 10px;
}
.slider2_arrows{
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}
.slider2_arrow-left{
  width: 0;
  height: 0;
  margin: 30px 0;
  border: 30px solid;
  border-color: transparent gold transparent steelblue;
  border-left: 0;
  cursor: pointer;
  z-index: 100;
}
.slider2_arrow-right{
  width: 0;
  height: 0;
  margin: 30px 0;
  border: 30px solid;
  border-color: transparent gold transparent steelblue;
  border-right: 0;
  cursor: pointer;
  z-index: 100;
}
.news-block-wrapper{
  background: radial-gradient(circle, #4FD2C3, #199C8E);
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.news-block-wrapper_header{
  display: block;
  padding: 10px 0 10px 0;
  text-align: center;
  color: #333A3E;
  font-size: 45px;
  text-transform: uppercase;
}
.news-block{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 50px;
  max-width: 1300px;
  margin: 0 auto;
}
.news-block_show-all {
  cursor: pointer;
  margin: auto;
  padding: 10px 50px;
  color: #fff;
  text-align: center;
  border: 3px solid #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
.news-block_elem{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 10px;
  color: #fff;
}
.news-block_elem_photo{
  height: 160px;
  background-color: white;
}
.our-services{
  background-color: #C6F6FF;
  padding: 30px 0 100px 0;
}
.our-services_header{
  display: block;
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;
}
.our-services_block{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
}
.our-services_service{
  width: 20%;
  border-radius: 5px;
  display: flex;
  padding: 20px;
  box-shadow: -5px 5px 30px rgba(0, 0, 0, .4);
  cursor: pointer;
  min-width: 300px;
  margin: 15px 10px;
}
.our-services_service_img{
  width: 50%;
  height: 150px;
  background-color: #fff;
  margin: auto 0;
}
.our-services_service_description{
  font-size: 20px;
  padding: 20px;
  width: 40%;
}
.our-advantages{
  padding: 50px 0;
}
.our-advantages_wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1300px;
  margin: 0 auto;
}
.our-advantages_block{
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 50px;
}
.our-advantages_block_img{
  width: 80px;
  height: 80px;
  background-image: url(../images/icon-detail.png);
  background-position: center;
  background-size: cover;
  margin: 0 auto 20px auto;
}
.our-advantages_block_description{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 1000;
  text-align: center;
}
.our-partners_header{
  display: block;
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: bold;
}
.our-partners{
  padding: 50px 0 0 0;
}
.our-partners_wrapper{
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 70px 0;
}
.our-partners_partner-logo{
  width: 150px;
  height: 75px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.our-partners_partner-logo_1{
  background-image: url("../images/antyapi.png");
}
.our-partners_partner-logo_2{
  background-image: url("../images/trans.png");
}
.our-partners_partner-logo_3{
  background-image: url("../images/rosseti.png");
}
.our-partners_partner-logo_4{
  background-image: url("../images/su155.png");
  background-size: 120px 95px;
}
.undo-footer{
  background-color: #777;
  color: #fff;
  padding: 30px 0;
}
.undo-footer_wrapper{
  max-width: 1300px;
  margin: auto;
}
.undo-footer_p{
  max-width: 850px;
  font-size: 15px;
}
.undo-footer_h{
  font-size: 16px;
  text-transform: uppercase;
}
.footer{
  background-color: #777;
  color: #fff;
  padding: 20px 0;
  border-top: 1px solid #545454;
}
.footer_left{
  font-size: 13px;
  vertical-align: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer_left_text{
  display: block;
}
.footer_wrapper{
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.footer_right{
  display: flex;
}
.footer_right_contacts{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.footer_right_contacts_text{
  display: block;
  margin-bottom: 10px;
}
.footer_right_contacts_phone{
  font-size: 18px;
  font-weight: bold;
}
.footer_right_contacts_adress{
  font-size: 13px;
  text-transform: uppercase;
}
.footer_right_contacts_email{
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #6EC2E5;
}
.footer_right_social{
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}
.footer_right_social_block{
  width: 22px;
  height: 22px;
  margin: 0 10px;
}
.footer_right_social_block__vk{
  display: block;
  background-image: url("../images/vk-32.png");
  filter: invert(100%);
  background-size: cover;
  background-position: center;
}

/*product-page*/
.product-page-wrapper{
  background-color: #FAFAFA;
  padding: 50px;
}
.product-page{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.product-page_h{
  font-size: 40px;
  max-width: 600px;
  margin: 0 0 10px 0;
}
.product-page_image-wrapper{
  margin-right: 30px;
  max-width: 500px;
}
.product-page_image{
   width: 100%;
}
.product-page_description{
  max-width: 600px;
}